.botonera{
background-color:$mainColor;
 padding: 5px 30px;
 position: sticky;
 top: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;

 ul{
 	display: flex;
 	li{
 		list-style: none;
 		a{
 			color: grey;
 			font-size: $textMd;
 			text-decoration: none;
 			&:hover{
 				color: yellow;

 			}

 		}
 	}
 }


}
